        html {
        background: url("./img/light-blue-sky-with-white-clouds-realistic-background-natural-banner-with-heavens_33099-624.jpg");
        /* font-family: 'Lato', sans-serif; */
        font-family: cursive;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {}
    
    .container {
        width: 40%;
        border: 3px rgb(91, 91, 219);
        box-shadow: 10px 10px 15px 5px;
        box-shadow: 8px 8px 10px 2px #4bbce9fd;
        text-align: center;
        margin: 50px auto;
        border-radius: 15px;
        margin-top: 50px;
        padding: 20px;
    }
    
    .form {
        margin: 5px;
        padding: 5px;
    }
    
    .form input {
        margin: 5px;
        width: 200px;
        border-width: 0.2px;
        height: 50px;
        font-family: cursive;
        text-align: center;
        border-radius: 5px;
        font-size: large;
        border-style: inset;
        background-color: rgb(178, 183, 184);
        margin-bottom: 16px;
    }
    
    .form input:hover {
        box-shadow: 0px 0px 5px 0.8px #4bbce9fd;
        background-color: rgb(197, 201, 201);
    }
    
    .form button {
        background-color: rgb(59, 59, 59);
        width: 200px;
        font-family: cursive;
        border-width: 0.2px;
        height: 50px;
        color: white;
        font-size: large;
        text-align: center;
        border-radius: 50px;
        border-style: inset;
    }
    
    .form button:hover {
        background-color: rgb(7, 6, 12);
        border-width: 0.2px;
        box-shadow: 0px 0px 2px 0.8px #1d1e1ffd;
    }
    /* .weather {
        word-spacing: ;
    } */
    
    @media only screen and (max-width: 500px) {
        .container {
            width: 80%;
            border: 2px rgb(91, 91, 219);
            box-shadow: 10px 10px 15px 5px;
            box-shadow: 8px 8px 10px 2px #4bbce9fd;
            text-align: center;
            margin: 10px auto;
            border-radius: 15px;
            margin-top: 30px;
            padding: 15px;
        }
        .form button {
            width: 160px;
            height: 50px;
            border-radius: 50px;
        }
        h1,
        h3 {
            margin: 0px;
        }
        .form input {
            width: 160px;
            height: 50px;
        }
    }